# Frontend Port (Mapping on host)
FRONTEND_PORT=80

# Backend Port (Mapping on host)
BACKEND_PORT=8000

# Backend URL accessed by the frontend browser
FRONTEND_VITE_API_URL=http://localhost:8000

# Game Configs
STANDARD_MODE_DAYS=7

# Backend Configs
EVENTS_DIR=/app/data/events

# Event Triggering Probabilities
RANDOM_EVENT_CHANCE=0.10
CRISIS_CHANCE_BASE=0.05
CRISIS_HEALTH_THRESHOLD=60
